# Ignore build artifacts and dependencies
build
dist
node_modules

# IDE-specific files
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# Miscellaneous
.DS_Store
connect.lock
coverage
libpeerconnection.log
npm-debug.log
lerna-debug.log
yarn-error.log
testem.log
typings

# System files
.DS_Store
.vscode/settings.json
.vscode/launch.json

# Remix-specific files
apps/remixdesktop/.webpack
apps/remixdesktop/out
apps/remixdesktop/release/
apps/remix-ide/src/assets/list.json
apps/remix-ide/src/assets/esbuild.wasm
apps/remixdesktop/build*
logs

